@using APIGateway.Models
@model APIGateway.Models.BankAgent

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<table>
    <th></th>
    @foreach (var header in Enum.GetValues(typeof(Currency)))
    {
        <th>@(((Currency)header).ToString())</th>
    }
    @foreach (var from in Enum.GetValues(typeof(Currency)))
    {
        <tr>
            <td>1 @(((Currency)from).ToString())=</td>
            @foreach (var to in Enum.GetValues(typeof(Currency)))
            {
                {
                    var current = Model.Convert(100, (Currency)from, (Currency)to).Result;
                    var full = current / 100;
                    var cent = current % 100;
                    <td> @(full).@string.Format("{0,2:00}", cent) </td>
                }
            }
        </tr>
    }
</table>
<style>
    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    }
</style>