@using APIGateway.Models
@model APIGateway.Models.BankAgent

<h2>@Model.Name</h2>
<p>@Model.Description</p>
@{
    var table = ViewData["table"] as double[,];
}

<table>
    <th></th>
    @foreach (var header in Enum.GetValues(typeof(Currency)))
    {
        <th>@(((Currency)header).ToString())</th>
    }
    @for (int row = 0; row < table.GetLength(0); row++)
    {
        <tr>
            <td>1 @(Enum.GetValues(typeof(Currency)).GetValue(row).ToString())=</td>
            @for (int col = 0; col < table.GetLength(1); col++)
            {
                <td>@Math.Round(table[row, col], 2)</td>
            }
        </tr>
    }
</table>
<style>
    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    }
</style>