@using APIGateway.Models
@model APIGateway.Models.ShopAgent

@{
    ViewBag.Title = Model.Name;
}

<div class="hacky-align">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <table>
        <th>Item</th>
        <th>Price</th>
        <th>Available items</th>
        @{
            var list = (List<(Product product, int quantity)>) ViewData["list"];
        }
        @foreach (var item in list)
        {
            <tr>
                <td>@item.product.Type.ToString()</td>
                <td>@item.product.Price @item.Item1.Currency.ToString()</td>
                <td>@item.quantity</td>
            </tr>
        }
    </table>
    <style>
        table, th, td {
          border: 1px solid black;
          border-radius: 10px;
        }
    </style>
</div>