@model APIGateway2._0.Models.ShopAgent

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<table>
    <th>Item</th>
    <th>Price</th>
    <th>Available items</th>
    @foreach (var item in Model.GetItemsWithQuantity().Result)
    {
        <tr>
            <td>@item.Item1.Type.ToString()</td>
            <td>@item.Item1.Price @item.Item1.Currency.ToString()</td>
            <td>@item.Item2</td>
        </tr>
    }
</table>
<style>
    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    }
</style>
